<a href="https://colab.research.google.com/github/nehan0306/Next_Read/blob/main/Next_Read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [49]:
import os
os.chdir(r'/content/drive/MyDrive/Book_Datasets')

In [50]:
import pandas as pd

In [51]:
books = pd.read_csv('Books.csv', low_memory = False)

In [52]:
users = pd.read_csv('Users.csv')

In [53]:
ratings = pd.read_csv('Ratings.csv')

In [54]:
books.shape

(271360, 8)

In [55]:
books.sample(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
658,0449209121,The Amazing Mrs. Pollifax,Dorothy Gilman,1992,Fawcett Books,http://images.amazon.com/images/P/0449209121.0...,http://images.amazon.com/images/P/0449209121.0...,http://images.amazon.com/images/P/0449209121.0...
166650,8401380448,Escribo Tu Nombre/I Write Your Name (Plaza &am...,Elena Quiroga,1985,Aims Intl Books,http://images.amazon.com/images/P/8401380448.0...,http://images.amazon.com/images/P/8401380448.0...,http://images.amazon.com/images/P/8401380448.0...
204110,1577311507,Signals: An Inspiring Story of Life After Life,Joel Rothschild,2000,New World Library,http://images.amazon.com/images/P/1577311507.0...,http://images.amazon.com/images/P/1577311507.0...,http://images.amazon.com/images/P/1577311507.0...
69742,0812932005,Prosperity: The Coming Twenty-Year Boom and Wh...,Bob Davis,1999,Random House Inc,http://images.amazon.com/images/P/0812932005.0...,http://images.amazon.com/images/P/0812932005.0...,http://images.amazon.com/images/P/0812932005.0...
248472,155773772X,A Perfect Arrangement,Ellen Rawlings,1992,Diamond Books (NY),http://images.amazon.com/images/P/155773772X.0...,http://images.amazon.com/images/P/155773772X.0...,http://images.amazon.com/images/P/155773772X.0...
50833,0763612545,The Worst Witch,Jill Murphy,2000,Candlewick Press (MA),http://images.amazon.com/images/P/0763612545.0...,http://images.amazon.com/images/P/0763612545.0...,http://images.amazon.com/images/P/0763612545.0...
72837,0833563505,The Queen of the Damned (Vampire Chronicles (P...,Anne Rice,1999,Sagebrush Bound,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...
121056,0505525895,The Shadow Runners (2176),Liz Maverick,2004,Love Spell,http://images.amazon.com/images/P/0505525895.0...,http://images.amazon.com/images/P/0505525895.0...,http://images.amazon.com/images/P/0505525895.0...
225707,0671731696,SITA,Kate Millett,1992,Touchstone,http://images.amazon.com/images/P/0671731696.0...,http://images.amazon.com/images/P/0671731696.0...,http://images.amazon.com/images/P/0671731696.0...
42279,0671852884,Yen,Guy Stanley,1994,Simon &amp; Schuster (Trade Division),http://images.amazon.com/images/P/0671852884.0...,http://images.amazon.com/images/P/0671852884.0...,http://images.amazon.com/images/P/0671852884.0...

In [56]:
users.shape

(278858, 3)

In [57]:
users.sample(10)

        User-ID                           Location   Age
210226   210227       nieuwegein, n/a, netherlands  31.0
267169   267170          edmonton, alberta, canada   NaN
212262   212263            torino, piemonte, italy  43.0
115547   115548            barcelona, spain, spain  14.0
148496   148497             vicenza, veneto, italy   NaN
216079   216080    mexico, yukon territory, mexico   NaN
127108   127109    bairnsdale, victoria, australia   NaN
115978   115979       new york city, new york, usa   NaN
32681     32682       arese (mi), lombardia, italy  30.0
108663   108664  nuneaton, england, united kingdom  12.0

In [58]:
ratings.shape

(1149780, 3)

In [59]:
ratings.sample(10)

         User-ID        ISBN  Book-Rating
519244    125698  0425153789           10
1025861   245827  0892211946            0
498773    120461  0446525871            0
571602    137397  2203340045           10
978954    235429  0553263579            0
957217    231210  0886775582            0
476613    114078  9021617919            0
152712     35042  0440862930            0
1132617   271622  0393320278            0
253648     58351  086316157X           10

In [60]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [61]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [62]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [63]:
books.duplicated().sum()

0

In [64]:
users.duplicated().sum()

0

In [65]:
ratings.duplicated().sum()

0

In [66]:
rating_with_name = ratings.merge(books, on = 'ISBN')

In [67]:
review_count = rating_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [68]:
review_count.rename(columns = {'Book-Rating': 'Review-count'}, inplace = True)

In [69]:
review_count

                                               Book-Title  Review-count
0        A Light in the Storm: The Civil War Diary of ...             4
1                                   Always Have Popsicles             1
2                    Apple Magic (The Collector's series)             1
3        Ask Lily (Young Women of Faith: Lily Series, ...             1
4        Beyond IBM: Leadership Marketing and Finance ...             1
...                                                   ...           ...
241066                                      Ã?Â?lpiraten.             2
241067                     Ã?Â?rger mit Produkt X. Roman.             4
241068                                Ã?Â?sterlich leben.             1
241069                              Ã?Â?stlich der Berge.             3
241070                                  Ã?Â?thique en toc             2

[241071 rows x 2 columns]

In [70]:
avg_rating = rating_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

<ipython-input-70-c9ea86d84efe>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating = rating_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

In [71]:
avg_rating.rename(columns = {'Book-Rating': 'Avg-Rating'}, inplace = True)

In [72]:
avg_rating

                                               Book-Title  Avg-Rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [73]:
popularity_df = review_count.merge(avg_rating, on = 'Book-Title')

In [74]:
popularity_df.shape

(241071, 3)

In [75]:
popularity_df[popularity_df['Review-count'] >= 250]

,Book-Title,Review-count,Avg-Rating
764,1984,284,4.454225
818,1st to Die: A Novel,509,3.575639
1048,2nd Chance,356,3.269663
1760,A Bend in the Road,346,3.364162
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
...,...,...,...
233850,White Oleander : A Novel,387,3.506460
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472
234740,Wicked: The Life and Times of the Wicked Witch...,326,3.766871
234951,Wild Animus,2502,1.019584
240860,"\O\"" Is for Outlaw""",269,2.988848

In [76]:
popularity_df = popularity_df[popularity_df['Review-count'] >= 250].sort_values('Avg-Rating', ascending = False).head(50)

In [77]:
popularity_df.shape

(50, 3)

In [78]:
popularity_df = popularity_df.merge(books, on = 'Book-Title').drop_duplicates('Book-Title')

In [79]:
popularity_df = popularity_df[['Book-Title', 'Book-Author', 'Image-URL-M', 'Review-count', 'Avg-Rating']]

In [80]:
x = rating_with_name.groupby('User-ID').count()['Book-Rating'] > 200
nerdy_users = x[x].index

In [81]:
filtered_rating = rating_with_name[rating_with_name['User-ID'].isin(nerdy_users)]

In [82]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] > 50
famous_books = y[y].index

In [83]:
final_df = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [84]:
new_table = final_df.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [85]:
new_table.fillna(0, inplace = True)

In [86]:
from sklearn.metrics.pairwise import cosine_similarity

In [87]:
similarity_score = cosine_similarity(new_table)

In [88]:
similarity_score.shape

(679, 679)

In [89]:
import numpy as np

In [90]:
def recommend(book_name):
    index = np.where(new_table.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])), key = lambda x: x[1], reverse = True)[1: 6]
    for i in similar_items:
        print(new_table.index[i[0]])

In [92]:
recommend('1984')

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel